body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe0b5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin: 0;
}

.larger-font{
  font-size: 1.4rem;
}

.scale-image{
  width: 100%;
  height: 100%;
}

.small-container-text{
  font-weight: 700;
}

.warning-message{
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  color: #b91c1c;
}

label{
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 10px;
  padding-right: 10px;
}

input,
select{
	font-size: 1.2rem;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid black;
	background: none;
}

input:focus,
select:focus{
	outline: none !important;
	border-bottom: 2px solid #732d0a;
}

.base-layout{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-container{
  margin-top: 50px;
  padding: 10px;
  background-color: #f1f5f9;
  box-shadow: 3px 3px 5px black;
  border-radius: 15px;
}

.base-additional-container{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slim-container{
  margin: 20px;
  width: 50%;
  padding: 20px;
  background-color: #f1f5f9;
  box-shadow: 3px 3px 5px black;
  border-radius: 15px;
}

.travel-history-container{
  background-color: white;
  border: 2px dashed black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  grid-template-columns: 150px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.history-image-container{
  padding: 5px;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.question-container{
  background-color: white;
  border: 2px dashed black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  grid-template-columns: 150px 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.question-image-container{
  padding: 5px;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.question-content{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.admin-header-buttons-container{
  width: 60%;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.user-admin-container{
  background-color: white;
  border: 2px dashed black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  grid-template-columns: 175px 1fr 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.user-admin-image-container{
  padding: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.user-admin-buttons-container{
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.travel-admin-container,
.travel-home-container{
  background-color: white;
  border: 2px dashed black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  display: grid;
  grid-template-rows: repeat(3, 60px);
  grid-template-columns: 175px 1fr 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.travel-admin-image-container,
.travel-home-image-container{
  padding: 5px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.travel-admin-buttons-container,
.travel-home-buttons-container{
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.home-container{
  margin: 20px;
  width: 60%;
  padding: 20px;
  background-color: #f1f5f9;
  box-shadow: 3px 3px 5px black;
  border-radius: 15px;
}

.loggedin-info-container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-main-image-container{
  margin: 10px auto;
  width: 80%;
  border: 4px solid black;
  box-shadow: 3px 3px 5px black;
}

.about-us-container{
  margin: 10px auto;
  width: 60%;
  padding: 10px;
  background-color: white;
  border: 2px dashed black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

.about-us-container p{
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

.filter-buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}